<body>
<div class="left-side">
  <ul>
  <%= image_tag("profile_photo.png", :alt => "profile photo", :class => "profile-photo") %>
  <a href="#"><li class="sidebar-li">Bob Ross</li></a>
  <a href="#"><li class="sidebar-li">Messages</li></a>
  </ul>
  </div>
    <main>

