<%= stylesheet_link_tag "lander", :media => "all" %>
<div class="landing_wrapper">
  <div class="landing_photo">
    <%= image_tag("landing.png", class: "landing_banner", id: "landing_photo")%>
  </div>
  <div class="landing_text"> 
  <%= image_tag("bookface_logo.png", class: "logo_lander")%>
  <h2 class="bookface_lander">
    Happening now
  </h2>
  <h3 class="bookface_lander_join">Join Bookface Today.</h3>
  <span class="signup_container"><a href="/signup" class="signup">
    Sign Up
  </a></span>
  </div>
</div>