.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  /* grid-column: 1 / 2; */
  padding: 0;
  margin: 0;
}

.signup {
  position: relative;
  font-size: 1.5em;
  margin-top: 25%;
}

.signup_container {
  max-width: 200px;
}

.signup::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074d9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .signup:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.logo_lander {
  margin-left: -0.3em;
  width: 175px;
  margin-bottom: 3em;
}

.landing_wrapper {
  display: grid;
  height: 82vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.landing_photo {
  grid-column: 1 / 2;
  overflow: hidden;
}
#landing_photo {
  margin-left: -700px;
}

.landing_text {
  grid-column: 2 / 3;
  display: flex;
  margin-left: 3em;
  flex-direction: column;
  justify-content: center;
}

.bookface_lander {
  font-weight: 700;
  font-size: 2.5em;
  margin-top: 0.25em;
}

.bookface_lander_join {
  margin-top: 1.25em;
  font-size: 1.25em;
  margin-bottom: 1em;
  font-weight: 700;
}

.lander_button {
  font-weight: 700;
  color: white;
  border-radius: 30px;
  width: 20em;
  padding: 0.4em 0;
  margin: 0.5em 0;
  background-color: rgb(62, 165, 165);
  border: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lander_button:hover {
  background-color: var(--button-hover-colour);
}
